@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


.quizPage {
    font-size: 20px;
    background-color: #181818;
    border-radius: 20px;
    border: none;
    padding: 30px;
    font-family: 'Concert One', cursive;
}

.quizPage .nonShow{
    display:none;
}

.question {
    font-size: 30px;
    margin: 30px;
}

.form {
    margin: 20px;
}

.quizPage .nextQuestion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nextButton {
    background-color: #1ED760;
    border: none;
    border-radius: 13px;
    min-width: 15%;
    height: 50px;
    font-size: 28px;
    margin-top: 20px;
    display:none;
}
.submitButton {
    background-color: #4F1ED7;
    border: none;
    border-radius: 13px;
    min-width: 15%;
    height: 50px;
    font-size: 28px;
    margin-top: 20px;
    display: none;
}

.nextButton:hover, .previousButton:hover, .submitButton:hover {
    color: #ffffff;
}

.nextButton:focus, .previousButton:focus, .submitButton:focus, .quizPage .optionBox .option:focus {
    outline: none;
}


.show {
    display: block;
    animation: fadeInRight 1s ease;
}
.previousButton {
    background-color: #4F1ED7;
    border: none;
    border-radius: 13px;
    min-width: 15%;
    height: 50px;
    font-size: 28px;
    margin-top: 20px;
    visibility: hidden;
}


.questionBox {
    background-color: #ffffff;
    padding: 40px 30px;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    border: 2px;
    background-color: #181818;
    color: #ffffff;
    position: relative;
}

.questionBox .questionText {
    font-size: 30px;
}

.questionBox .currentQuestionNum {
    height: 70px;
    width: 70px;
    border: 2px solid #ffffff;
    font-size: 25px;
    border-radius: 50%;
    line-height: 68px;
    text-align: center;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    z-index: 1;
}



.quizPage .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 28px;
    text-transform: uppercase;
}

.quizPage .stats .quizTime .timesUp {
    color: #FF673E;
    font-weight: 500;
    display: none;
    margin-left:20px;
}

.quizPage .stats .quizTime .timesUp.show {
    display: inline-block;
    animation: fadeInOut 1s linear infinite;
}
@keyframes fadeInOut{
    0%{
        opacity: 0;
    }
    50%{
        opacity:1
    }
    100% {
        opacity: 0
    }
}
.quizPage .stats .quizTime {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    text-align: left;
}



.quizPage .stats .quizTime .remainingTime {
    height: 60px;
    width: 60px;
    border: 2px solid #ffffff;
    text-align: center;
    line-height: 56px;
    border-radius: 50%;
    color: #ffffff;
    display:inline-block;
}

.quizPage .stats .quizTime .remainingTime.lessTime {
    color: #FF673E;
    border-color: #FF673E;
}     
  


.quizPage .stats .scoreBoard {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    text-align: right;
    color: #ffffff;
}


.quizPage .optionBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

.quizPage .optionBox .option {
    background-color: #181818;
    flex-basis: calc(50% - 20px);
    min-height: 30px;
    max-width: calc(50% - 20px);
    margin-top: 20px;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    position:relative;
}

.quizPage .optionBox .correct {
    background-color: #02AD64;
    color: #111111;
    border-color: #02AD64;
    animation: pulse 0.5s linear;
}

.quizPage .optionBox .showCorrect {
    background-color: #02AD64;
    border-color: #02AD64;
    color: #ffffff;
    border-color: #02AD64;
    transition: all .5s ease;
}


@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.quizPage .optionBox .wrong {
    background-color: #FF673E;
    color: #111111;
    border-color: #FF673E;
    animation: snake 1s linear;
}
.quizPage .optionBox .alreadyAnswered {
    pointer-events: none;
}
.quizPage .optionBox .option.correct::before {
    content: '';
    position: absolute;
    background-color: #02AD64;
    height: 26px;
    width: 26px;
    right: 7px;
    top: 5px;
    background-image: url("img/correct.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    animation: fadeInRight .5s ease;
}
.quizPage .optionBox .option.wrong::before {
    content: '';
    position: absolute;
    background-color: #FF673E;
    height: 26px;
    width: 26px;
    right: 7px;
    top: 5px;
    background-image: url("img/wrong.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    animation: fadeInRight .5s ease;
}
@keyframes snake{
    0%, 30%, 50%{
        transform: translateX(10px);
    }
    20%,40%{
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(-7px);
    }
    70%{
        transform: translateX(7px);
    }
    80% {
        transform: translateX(-4px);
    }
    90% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity:1;
        transform: translateX(0px);
    }
}


.resultQuizBox {
    font-size: 20px;
    background-color: #181818;
    border-radius: 20px;
    border: none;
    padding: 70px;
    font-family: 'Concert One', cursive;
    color: #ffffff;
    text-align: center;
    display:none;
}
.resultQuizBox.show {
    display: block;
}

.header {
    margin-bottom: 40px;
}

.btn {
    background-color: #1ED760;
    border: none;
    border-radius: 13px;
    width: 20%;
    height: 60px;
    font-size: 28px;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    transition: color 0.3s ease-out;
}

    .btn:hover {
        color: #ffffff;
    }

    .btn:focus {
        outline: none;
    }

.resultQuizBox h1 {
    font-size: 60px;
}

.resultQuizBox h3 {
    font-size: 30px;
}

    .resultQuizBox h3 span {
        font-size: 35px;
    }

